body {
    background-color: hsl(0, 0%, 8%);
    font-size: 14px;
    font-family: "Inter";
}

.conteiner {
    display: flex;
    width: 305px;
    height: 520px;
    background-color: hsl(0, 0%, 12%);
    margin: 50px auto;
    border-radius: 10px;
    flex-direction: column;
}

.imagem img {
    display: block;
    margin: 22px auto 10px auto;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.nomes {
    display: block;
    text-align: center;
}

h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.nomes p {
    display: block;
    color: hsl(75, 94%, 57%);
    margin-top: 7px;
}

span {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px; 
    margin: auto; 
}

.botao {
    background-color: hsl(0, 0%, 20%);
    height: 40px;
    width: 260px;
    border-radius: 8px;
}

.botao a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 10px;
}